:root {
  /* primary colors */
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  /* Light Theme */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue-light-theme: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue-light-theme: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue-light-theme: hsl(235, 19%, 35%);
  /* Dark Theme */
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue-1: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue-2: hsl(237, 14%, 26%);
}

.App{
  min-height: 110vh;
}

.App[theme = 'dark']{
  background-color: var(--Very-Dark-Blue);
}
.App[theme = 'light']{
  background-color: var(--Very-Light-Gray);
}

.App[theme = 'dark'] header{
  background-image: url("./assets/images/bg-desktop-dark.jpg");
}
.App[theme = 'light'] header{
  background-image: url("./assets/images/bg-desktop-light.jpg");
}
header{
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  position: relative;
}

.container{
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.title{
  color: white;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 15px;
}
.container img{
  cursor: pointer;
  height: 26px;
}

.todos-container{
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.todo-input{
  max-width: 700px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--Very-Dark-Desaturated-Blue);
  padding: 1.5rem;
  border-radius: 7px;
}
.App[theme = 'light'] .todo-input{
  background-color: var(--Very-Light-Gray);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.todo-input input{
  width: 100%;
  border: none;
  font-size: 1.2rem;
  background-color: inherit;
  color: white;
  display: flex;
  align-items: center;
}
.App[theme = 'light'] .todo-input input{
  color: black;
}
.todo-input input:focus{
  outline: none;
}

.todo-mark{
  border: 2px solid var(--Dark-Grayish-Blue);
  display: block;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
}

.todo-list{
  position: relative;
  background-color: var(--Very-Dark-Desaturated-Blue);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.App[theme = 'light'] .todo-list{
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  background-color: white;
}

.App[theme = 'dark'] .todo-item{
  color: var(--Light-Grayish-Blue);
}
.App[theme = 'light'] .todo-item{
  background-color: var(--Very-Light-Gray);
  color: var(--Very-Dark-Blue);
}
.todo-item{
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  border-bottom: 2px solid var(--Dark-Grayish-Blue);
  font-size: 1.2rem;
  cursor: pointer;
}
.todo-item:focus{
  cursor: grab;
}
.todo-item>p{
  margin-right: auto;
}
.todo-item::marker{
  content: "";
}

.todo-item::before{
  /* content: ""; */
  display: block;
  border: 2px solid var(--Dark-Grayish-Blue);
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
}
.todo-item[completed='false']::before{
  content: "";
}
.todo-item[completed='true']::before{
  content: url("/src/assets/images/icon-check.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Check-Background);
  border-color: white;
}
.App[theme = 'dark'] .todo-item[completed='true']::before{
  border-color: var(--Very-Dark-Desaturated-Blue);
}

.App .todo-item[completed='true']{
  text-decoration: line-through;
  color: var(--Dark-Grayish-Blue);
}

.delete-icon-container{
  padding: 10px;
  display: none;
  cursor:url("/src/assets/images/icon-trash.svg") ,auto;
}

.todo-item:hover .delete-icon-container{
  display: flex;
}

.footer{
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--Dark-Grayish-Blue);
}
.footer p{
  cursor: pointer;
}

.footer-conditions{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.footer-conditions p{
  font-weight: 700;
}
.footer-conditions>p[status='true']{
  color: var(--Bright-Blue);
}
.footer-conditions p:hover{
  color: var(--Very-Dark-Blue);
}
.App[theme = 'dark'] .footer .footer-conditions p:hover{
  color: var(--Light-Grayish-Blue-hover);
}

.drag-and-drop-description{
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: -160px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Dark-Grayish-Blue);
}

/* ***************** media query ***************** */
@media screen and (max-width : 700px) {
  .title{
    font-size: 2rem;
  }
  header{
    height: 200px;
  }
  .App[theme="dark"] header {
    background-image: url("./assets/images/bg-mobile-dark.jpg");
  }
  .App[theme="light"] header {
    background-image: url("./assets/images/bg-mobile-light.jpg");
  }
  .container{
    margin: 0 1rem 6rem 1rem;
  }
  .container img{
    height: 30px;
  }
  .todos-container{
    bottom: 20%;
    padding: 0 1rem;
  }
  .delete-icon-container{
    display: flex;
  }
  .footer-conditions{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -70px;
    padding: 1rem;
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: 5px;
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  .App[theme = 'light'] .footer-conditions{
    background-color: white;
  }
}