:root {
  /* primary colors */
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  /* Light Theme */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue-light-theme: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue-light-theme: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue-light-theme: hsl(235, 19%, 35%);
  /* Dark Theme */
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue-1: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue-2: hsl(237, 14%, 26%);
}

.App{
  min-height: 110vh;
}

.App[theme = 'dark']{
  background-color: var(--Very-Dark-Blue);
}
.App[theme = 'light']{
  background-color: var(--Very-Light-Gray);
}

.App[theme = 'dark'] header{
  background-image: url("./assets/images/bg-desktop-dark.jpg");
}
.App[theme = 'light'] header{
  background-image: url("./assets/images/bg-desktop-light.jpg");
}
header{
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  position: relative;
}

.container{
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.title{
  color: white;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 15px;
}
.container img{
  cursor: pointer;
  height: 26px;
}

.todos-container{
  color: white;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.todo-input{
  max-width: 700px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--Very-Dark-Desaturated-Blue);
  padding: 1.5rem;
  border-radius: 5px;
}

.todo-input input{
  width: 100%;
  border: none;
  font-size: 1.2rem;
  background-color: inherit;
  color: white;
  display: flex;
  align-items: center;
}
.todo-input input:focus{
  outline: none;
}

.todo-mark{
  border: 2px solid var(--Dark-Grayish-Blue);
  display: block;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
}

.todo-list{
  border: none;
  border-radius: 5px;
}

.App[theme = 'light'] .todo-list{
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.App[theme = 'dark'] .todo-item{
  background-color: var(--Very-Dark-Blue);
  color: var(--Light-Grayish-Blue);
}
.App[theme = 'light'] .todo-item{
  background-color: var(--Very-Light-Gray);
  color: var(--Very-Dark-Blue);
}
.todo-item{
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 2px solid var(--Dark-Grayish-Blue);
  box-shadow: ;
}
.todo-item::marker{
  content: "";
}

.todo-item::before{
  content: "";
  display: block;
  border: 2px solid var(--Dark-Grayish-Blue);
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
}

/* ***************** media query ***************** */
@media screen and (max-width : 700px) {
  .title{
    font-size: 2rem;
  }
}